
.icon-comment:before { content: '\e800'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
